/Fixed_TS.cpp
/Fixed_TS.hpp
/FixedC.h
/FixedTypeSupport.idl
/FixedTypeSupportC.cpp
/FixedTypeSupportC.h
/FixedTypeSupportC.inl
/FixedTypeSupportImpl.cpp
/FixedTypeSupportImpl.h
/FixedTypeSupportS.h
/TestFixed
