/MessengerTypeSupportImpl.cpp
/MessengerTypeSupport.idl
/MessengerTypeSupportImpl.h
/inconsistent_qos
/MessengerS.h
/MessengerC.cpp
/MessengerC.inl
/MessengerTypeSupportC.h
/MessengerS.cpp
/MessengerTypeSupportS.h
/MessengerTypeSupportC.cpp
/MessengerTypeSupportC.inl
/MessengerC.h
/MessengerTypeSupportS.cpp
/MessengerS.inl
/MessengerTypeSupportS.inl
