<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 $Id$
-->
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.opendds.modeling.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="OpenDDS.OpenDDSModelWizardID"
            name="%_UI_OpenDDSModelWizard_label"
            class="OpenDDS.OpenDDSModelWizard"
            category="org.opendds.modeling.Wizard.category.ID"
            icon="icons/full/obj16/OpenDDSModelFile.gif">
         <description>%_UI_OpenDDSModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="OpenDDS.ModelEditorID"
            name="%_UI_OpenDDSEditor_label"
            icon="icons/full/obj16/OpenDDSModelFile.gif"
            extensions="opendds"
            class="OpenDDS.OpenDDSEditor"
            contributorClass="OpenDDS.OpenDDSActionBarContributor">
      </editor>
   </extension>

</plugin>
