<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 $Id$
-->
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="OpenDDS.ModelModelWizardID"
            name="%_UI_ModelModelWizard_label"
            class="OpenDDS.ModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelModelFile.gif">
         <description>%_UI_ModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="OpenDDS.ModelEditorID"
            name="%_UI_ModelEditor_label"
            icon="icons/full/obj16/ModelModelFile.gif"
            extensions="opendds"
            class="OpenDDS.ModelEditor"
            contributorClass="OpenDDS.ModelActionBarContributor">
      </editor>
   </extension>

</plugin>
