<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->

<plugin>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="codegen"
            class="org.opendds.modeling.sdk.model.GeneratorSpecification.GeneratorResourceFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Generator -->
      <package
            uri="http://www.opendds.org/modeling/schemas/Generator/1.0"
            class="org.opendds.modeling.sdk.model.GeneratorSpecification.GeneratorPackage"/>
   </extension>

</plugin>
