/*TypeSupport*
/DCS
/KeyedDataC.cpp
/KeyedDataC.h
/KeyedDataC.inl
/KeyedDataS.cpp
/KeyedDataS.h
/KeyedDataS.inl
/NoKeyDataC.cpp
/NoKeyDataC.h
/NoKeyDataC.inl
/NoKeyDataS.cpp
/NoKeyDataS.h
/NoKeyDataS.inl
/libDDS_Instances_Idl.*
/publisher
/subscriber
