/Messenger
/*.vcproj
/*.user
/*.ilk
/MessengerTypeSupportImpl.cpp
/messenger_idl_test.jar
/MessengerTypeSupport.idl
/classes
/MessengerTypeSupportImpl.h
/MessengerTypeSupportC.h
/MessengerC.h
/MessengerJC.cpp
/MessengerTypeSupportJC.h
/MessengerTypeSupportS.h
/MessengerS.h
/MessengerTypeSupportC.inl
/MessengerTypeSupportC.cpp
/MessengerC.cpp
/MessengerC.inl
/MessengerTypeSupportJC.cpp
/MessengerTypeSupportS.inl
/MessengerTypeSupportS.cpp
/MessengerJC.h
/MessengerS.cpp
/MessengerS.inl
