/MessengerTypeSupportImpl.cpp
/MessengerTypeSupport.idl
/MessengerTypeSupportImpl.h
/QueryConditionTest
/MessengerTypeSupportC.h
/MessengerC.h
/MessengerTypeSupportS.cpp
/MessengerTypeSupportS.inl
/MessengerS.inl
/MessengerS.cpp
/MessengerTypeSupportS.h
/MessengerS.h
/MessengerTypeSupportC.inl
/MessengerTypeSupportC.cpp
/MessengerC.inl
/MessengerC.cpp
