/testC.cpp
/testC.h
/testC.inl
/testS.cpp
/testS.h
/testTypeSupport.idl
/testTypeSupportC.cpp
/testTypeSupportC.h
/testTypeSupportC.inl
/testTypeSupportImpl.cpp
/testTypeSupportImpl.h
/testTypeSupportS.cpp
/testTypeSupportS.h
/explicit-ints-classic
