<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/schemas/modeling/OpenDDS"
            class="OpenDDS.OpenDDSPackage"
            genModel="models/OpenDDS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="opendds"
            class="OpenDDS.OpenDDSResourceFactoryImpl"/>
   </extension>

</plugin>
