/OldDevice
/OldDeviceC.cpp
/OldDeviceC.h
/OldDeviceC.inl
/OldDeviceS.h
/OldDeviceTypeSupport.idl
/OldDeviceTypeSupportC.cpp
/OldDeviceTypeSupportC.h
/OldDeviceTypeSupportC.inl
/OldDeviceTypeSupportImpl.cpp
/OldDeviceTypeSupportImpl.h
/OldDeviceTypeSupportS.h
