/CryptoBuiltInC.cpp
/CryptoBuiltInC.h
/CryptoBuiltInC.inl
/CryptoBuiltInS.h
/CryptoBuiltInTypeSupport.idl
/CryptoBuiltInTypeSupportC.cpp
/CryptoBuiltInTypeSupportC.h
/CryptoBuiltInTypeSupportC.inl
/CryptoBuiltInTypeSupportImpl.cpp
/CryptoBuiltInTypeSupportImpl.h
/CryptoBuiltInTypeSupportS.h
