/FooTypeTypeSupportImpl.cpp
/FooTypeTypeSupport.idl
/FooTypeTypeSupportImpl.h
/FooTypeTypeSupportS.cpp
/FooTypeTypeSupportS.inl
/FooTypeS.cpp
/FooTypeS.inl
/FooTypeTypeSupportS.h
/FooTypeS.h
/FooTypeTypeSupportC.cpp
/FooTypeTypeSupportC.inl
/FooTypeC.inl
/FooTypeC.cpp
/FooTypeTypeSupportC.h
/FooTypeC.h
