.depend.*
GNUmakefile*
*.vcxproj*
*.tlog
*.log
*.obj
*.ilk
*.exe
*.dll
*.lib
*.exp
*.[ip]db
*.ior
.obj/
.shobj/
lib*.a
lib*.so*
lib*.dylib
*~
*.opensdf
*.sdf
*.sln
*.pch
*.suo
.*.swp
*.res
*.VC.db
*.VC.opendb
.vs/

/setenv.sh
/setenv.cmd
/setenv.*
/.cproject
/.project
/.settings/
/user_macros.GNU
/build
/ipch
/ACE_wrappers
/ACE_TAO
.idea/
.vs/
