# configure script (not made by MPC)
/setenv.*
/host_tools.mwc*
/OpenDDS_custom.mwc*
/ACE_wrappers/
/ACE_TAO/
*.tar.gz
*.zip

# gnuace
.depend.*
GNUmakefile*
/user_macros.GNU*
.obj/
.shobj/

# CMake
build/
compile_commands.json

# Visual Studio
*.vcxproj*
*.obj
*.ilk
*.exp
*.[ip]db
*.ipdb
*.iobj
*.recipe
*.opensdf
*.sdf
*.sln
*.pch
*.suo
*.res
*.VC.db
*.VC.opendb
.vs/
/ipch

# Other IDE and Editors
.vscode/
.idea/
/.cproject
/.project
/.settings/
*~
.*.swp
/tags

# Binaries
*.exe
*.dll
*.lib
lib*.a
lib*.so*
lib*.dylib

# Debug
core
core.*
callgrind.out
callgrind.out.*
cachegrind.out
cachegrind.out.*
massif.out
massif.out.*

# Misc
*.tlog
*.log
*.ior
