[submodule "tools/rapidjson"]
	path = tools/rapidjson
	url = https://github.com/miloyip/rapidjson.git
	branch = version1.1.0
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
