.depend.*
GNUmakefile*
*.log
*.ior
.obj/
.shobj/
lib*.a
lib*.so*
lib*.dylib
*~
*.opensdf
*.sdf
*.sln
*.suo
.*.swp

/setenv.sh
/setenv.cmd
/setenv.*
/.cproject
/.project
/.settings/
/user_macros.GNU
/build
/ipch
/ACE_wrappers
