# This is used by gitrelease.pl to correct commit individual author info for
# the gernation of the AUTHORS file
#
# See https://git-scm.com/docs/git-check-mailmap for how this works

Justin Wilson <wilsonj@objectcomputing.com> <jrw972@gmail.com>
Justin Wilson <wilsonj@objectcomputing.com> Justin R. Wilson

Jeff Schmitz <schmitzj@ociweb.com> <jeffrey.j.schmitz@gmail.com>
Jeff Schmitz <schmitzj@ociweb.com> iamtheschmitzer <schmitzj@ociweb.com>

Brian Johnson <johnsonb@ociweb.com> johnsonb <johnsonb@ociweb.com>

Paul Calabrese <calabrep@objectcomputing.com> <calabrese_p@ociweb.com>

Huang-Ming Huang <huangh@ociweb.com> <huangming.huang@gmail.com>

Fred Hornsey <hornseyf@objectcomputing.com> <fred@hornsey.us>
Fred Hornsey <hornseyf@objectcomputing.com> Frederick Hornsey

Doug Lewis <lewisdo@objectcomputing.com> unknown <lewisdo@objectcomputing.com>

Jeremy Bratton <brattonj@objectcomputing.com> brattonj

ceneblock <ceneblock@users.noreply.github.com> <ceneblock@ceneblock.com>

Chip Jones <jonesc@objectcomputing.com> <chiphj@gmail.com>

Mike Kuznetsov <kuznetsovm@objectcomputing.com> kuznetsovm@objectcomputing.com
Mike Kuznetsov <kuznetsovm@objectcomputing.com> kuznetsovmoci <55456623+kuznetsovmoci@users.noreply.github.com>

Jiang Li <lij@objectcomputing.com> lij-oci <55156341+lij-oci@users.noreply.github.com>

Chad Elliott <elliottc@objectcomputing.com> <elliott_c@ociweb.com>
Chad Elliott <elliottc@objectcomputing.com> ocielliottc

Gary Wilson <wilsong@objectcomputing.com> wilsongOCI
