---
layout: page
categories: [opendds]
---

<p>OpenDDS is an open source C++ implementation of the Object Management Group (OMG) Data Distribution Service (DDS). Java applications can use OpenDDS through JNI bindings. OpenDDS was developed and open sourced by <a href="{{ site.data.oci.homepage }}">Object Computing</a>. We welcome community contributions to the project. Commercial support is also available; see the <a href="support.html">support page</a> for more information.</p>

<div class="news-summary">
  {% include news_summary.html %}
</div>

<div class="release-summary">
  {% include release_summary.html %}
</div>
