/FooDef_TS.cpp
/FooDef_TS.hpp
/FooDefC.h
/FooDefTypeSupport.idl
/FooDefTypeSupportC.cpp
/FooDefTypeSupportC.h
/FooDefTypeSupportC.inl
/FooDefTypeSupportImpl.cpp
/FooDefTypeSupportImpl.h
/FooDefTypeSupportS.h
