/FooDefC.cpp
/FooDefC.h
/FooDefC.inl
/FooDefS.h
/FooDefTypeSupport.idl
/FooDefTypeSupportC.cpp
/FooDefTypeSupportC.h
/FooDefTypeSupportC.inl
/FooDefTypeSupportImpl.cpp
/FooDefTypeSupportImpl.h
/FooDefTypeSupportS.h
/NamespacesC.cpp
/NamespacesC.h
/NamespacesC.inl
/NamespacesS.h
/NamespacesTypeSupport.idl
/NamespacesTypeSupportC.cpp
/NamespacesTypeSupportC.h
/NamespacesTypeSupportC.inl
/NamespacesTypeSupportImpl.cpp
/NamespacesTypeSupportImpl.h
/NamespacesTypeSupportS.h
