/FooDefTypeSupportImpl.cpp
/FooDefTypeSupport.idl
/FooDefTypeSupportImpl.h
/FooDefTypeSupportC.inl
/FooDefTypeSupportC.cpp
/FooDefC.inl
/FooDefC.cpp
/FooDefTypeSupportC.h
/FooDefC.h
/FooDefTypeSupportS.cpp
/FooDefTypeSupportS.inl
/FooDefS.inl
/FooDefS.cpp
/FooDefTypeSupportS.h
/FooDefS.h
