/NewApp
/NewAppC.cpp
/NewAppC.h
/NewAppC.inl
/NewAppS.h
/NewAppTypeSupport.idl
/NewAppTypeSupportC.cpp
/NewAppTypeSupportC.h
/NewAppTypeSupportC.inl
/NewAppTypeSupportImpl.cpp
/NewAppTypeSupportImpl.h
/NewAppTypeSupportS.h
