
<h2>Releases</h2>

{% include latest_releases.html %}

<h3><a href="{{ latest_release.html_url }}">OpenDDS {{ latest_release.version }}</a></h3>

{{ latest_release_downloads }}

<i class="post-date">Released on {{ latest_release.published_at | date_to_long_string }}</i>

<h3>Previous Releases:</h3>

<ul>
{% for release in previous_releases %}
  <li>
    <a href="{{ release.html_url }}">OpenDDS {{ release.version }}</a>
    <i class="post-date">Released on {{ release.published_at | date_to_long_string }}</i>
  </li>
{% endfor %}
</ul>

<p><a href="{{ site.github.releases_url }}">See all releases on GitHub</a></p>

<div class="more-release-notes">
  <p>Release notes for all previous releases can be found in the <a href="{{ site.github.repository_url }}/blob/latest-release/NEWS.md">NEWS.md</a> file.</p>
</div>
