/main
/sequenceC.cpp
/sequenceC.h
/sequenceC.inl
/sequenceS.h
/sequenceTypeSupport.idl
/sequenceTypeSupportC.cpp
/sequenceTypeSupportC.h
/sequenceTypeSupportC.inl
/sequenceTypeSupportImpl.cpp
/sequenceTypeSupportImpl.h
/sequenceTypeSupportS.h
