<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/OpenDDS/1.0"
            class="org.opendds.modeling.model.opendds.OpenDDSPackage"
            genModel="model/OpenDDS.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/Core/1.0"
            class="org.opendds.modeling.model.core.CorePackage"
            genModel="model/OpenDDS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/Domain/1.0"
            class="org.opendds.modeling.model.domain.DomainPackage"
            genModel="model/OpenDDS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/QoS/1.0"
            class="org.opendds.modeling.model.qos.QoSPackage"
            genModel="model/OpenDDS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/Topics/1.0"
            class="org.opendds.modeling.model.topics.TopicsPackage"
            genModel="model/OpenDDS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/DCPS/1.0"
            class="org.opendds.modeling.model.dcps.DCPSPackage"
            genModel="model/OpenDDS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OpenDDS -->
      <package
            uri="http://www.opendds.org/modeling/schemas/Application/1.0"
            class="org.opendds.modeling.model.application.ApplicationPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OpenDDS -->
      <package
            uri="http://www.opendds.org/modeling/schemas/Enumerations/1.0"
            class="org.opendds.modeling.model.enumerations.EnumerationsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OpenDDS -->
      <package
            uri="http://www.opendds.org/modeling/schemas/Types/1.0"
            class="org.opendds.modeling.model.types.TypesPackage"/>
   </extension>
   <extension
         id="openddsnature"
         name="OpenDDS Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.opendds.modeling.model.opendds.OpenDDSProjectNature">
         </run>
      </runtime>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="opendds"
            class="org.opendds.modeling.model.opendds.OpenDDSResourceFactory"/>
   </extension>

</plugin>
