/Viewer_moc.cpp
/MonitorDataModel_moc.cpp
/RepoSelect_moc.cpp
/ui_RepoDialog.h
/ui_Monitor.h
/odds_monitor
/Monitor_qrc.cpp
/monitor
/GvOptions_moc.cpp
/ui_GvOptions.h
/NodeOptions_moc.cpp
/ui_NodeOptions.h
