/TestC.cpp
/TestC.h
/TestC.inl
/TestS.cpp
/TestS.h
/TestTypeSupport.idl
/TestTypeSupportC.cpp
/TestTypeSupportC.h
/TestTypeSupportC.inl
/TestTypeSupportImpl.cpp
/TestTypeSupportImpl.h
/TestTypeSupportS.cpp
/TestTypeSupportS.h
/unregister_type_test
