/PTDefTypeSupportImpl.cpp
/PTDefTypeSupport.idl
/PTDefTypeSupportImpl.h
/PTDefTypeSupportC.cpp
/PTDefTypeSupportC.inl
/PTDefC.inl
/PTDefC.cpp
/PTDefTypeSupportC.h
/PTDefC.h
/PTDefTypeSupportS.cpp
/PTDefTypeSupportS.inl
/PTDefS.inl
/PTDefS.cpp
/PTDefTypeSupportS.h
/PTDefS.h
