<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
(c) Copyright Object Computing, Incorporated.  2005,2010.  All rights reserved.
-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="opendds_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="opendds_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/OpenDDSDiagramFile.gif"
         extensions="opendds_diagram"
         default="true"
         class="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditor"
         matchingStrategy="org.opendds.modeling.diagram.main.part.OpenDDSMatchingStrategy"
         contributorClass="org.opendds.modeling.diagram.main.part.OpenDDSDiagramActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.opendds.modeling.diagram.main.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="false"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/OpenDDSDiagramFile.gif"
  	     category="org.opendds.modeling.Wizard.category.ID"
  	     class="org.opendds.modeling.diagram.main.part.OpenDDSCreationWizard"
  	     id="org.opendds.modeling.diagram.main.part.OpenDDSCreationWizardID">
  	  	 <description>%newWizardDesc</description>
      </wizard>
     <category
           id="org.opendds.modeling.Wizard.category.ID"
           name="OpenDDS Models">
     </category>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="false"?>
      <objectContribution
            id="org.opendds.modeling.diagram.main.InitDiagram"
            nameFilter="*.opendds"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.opendds.modeling.diagram.main.part.OpenDDSInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.opendds.modeling.diagram.main.InitDiagramAction">
         </action>
      </objectContribution>
      <objectContribution
            id="org.opendds.modeling.diagram.main.ValidateOpenDDSFile"
            nameFilter="*.opendds"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.opendds.modeling.diagram.main.part.ValidateOpenDDSFileAction"
               id="org.opendds.modeling.diagram.main.ValidateOpenDDSFileAction"
               label="%validateOpenDDSFileActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.opendds.modeling.diagram.main.ValidateCodegenFile"
            nameFilter="*.codegen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.opendds.modeling.diagram.main.part.ValidateCodegenFileAction"
               id="org.opendds.modeling.diagram.main.ValidateCodegenFileAction"
               label="%validateCodegenFileActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OpenDDSPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OpenDDSPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <!-- Copy and paste disabled because of issues found in GMF 2.2.2 -->
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSMarkerNavigationProvider">
         <MarkerType name="org.opendds.modeling.diagram.main.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="OpenDDS Main Diagram Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.opendds.modeling.diagram.main.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.opendds.modeling.diagram.main.general"
            name="%prefpage.org.opendds.modeling.diagram.main.general"
            class="org.opendds.modeling.diagram.main.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.main.appearance"
            name="%prefpage.org.opendds.modeling.diagram.main.appearance"
            category="org.opendds.modeling.diagram.main.general"
            class="org.opendds.modeling.diagram.main.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.main.connections"
            name="%prefpage.org.opendds.modeling.diagram.main.connections"
            category="org.opendds.modeling.diagram.main.general"
            class="org.opendds.modeling.diagram.main.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.main.printing"
            name="%prefpage.org.opendds.modeling.diagram.main.printing"
            category="org.opendds.modeling.diagram.main.general"
            class="org.opendds.modeling.diagram.main.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.main.rulersAndGrid"
            name="%prefpage.org.opendds.modeling.diagram.main.rulersAndGrid"
            category="org.opendds.modeling.diagram.main.general"
            class="org.opendds.modeling.diagram.main.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="false"?>
      <propertyContributor
            contributorId="org.opendds.modeling.diagram.main"
            labelProvider="org.opendds.modeling.diagram.main.sheet.OpenDDSSheetLabelProvider">
         <!-- Re-order so that the category associated with the Comment shows up first -->
         <propertyCategory category="extra"/>
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.opendds.modeling.diagram.main">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
          <propertyTab
             category="extra"
             id="property.tab.ElementComment"
             label="%tab.ElementComment"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.opendds.modeling.diagram.main">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.opendds.modeling.diagram.main.sheet.OpenDDSPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.opendds.modeling.diagram.main.navigator.OpenDDSAbstractNavigatorItem"/>
         </propertySection>
         <propertySection
            id="property.section.ElementComment" 
            tab="property.tab.ElementComment"
            filter="org.opendds.modeling.diagram.main.part.ElementCommentFilter"
            class="org.opendds.modeling.diagram.main.sheet.ElementCommentPropertySection">
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="false"?>
      <viewProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="OpenDDS"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="OpenDDS"/>
         <!-- Emptied semanticHints according to workaround for diagram reload bug 281014,
         https://bugs.eclipse.org/bugs/show_bug.cgi?id=281014 -->
         <!-- Reload problems haven't been seen with the main diagram, but this change is being
         done anyway to be consistent with the other diagams. -->
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="OpenDDS"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2007,2008,2009,2010,3001,3002,3003,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5012,5013,5014,5015,5016,5017,5019,5018,5020,5021,5022,5023,5024,5025"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfOpenDDSModelEditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.OpenDDSModelEditPart" id="OpenDDSModel_1000"/>
         <context elements="OpenDDSModel_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfDcpsLibEditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.DcpsLibEditPart" id="DcpsLib_2007"/>
         <context elements="DcpsLib_2007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfPolicyLibEditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.PolicyLibEditPart" id="PolicyLib_2008"/>
         <context elements="PolicyLib_2008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfDataLibEditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.DataLibEditPart" id="DataLib_2009"/>
         <context elements="DataLib_2009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfLibPackageEditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.LibPackageEditPart" id="LibPackage_2010"/>
         <context elements="LibPackage_2010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfLibPackage2EditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.LibPackage2EditPart" id="LibPackage_3001"/>
         <context elements="LibPackage_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfDataLib2EditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.DataLib2EditPart" id="DataLib_3002"/>
         <context elements="DataLib_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfDcpsLib2EditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.DcpsLib2EditPart" id="DcpsLib_3003"/>
         <context elements="DcpsLib_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="org.opendds.modeling.diagram.main.providers.assistants.OpenDDSModelingAssistantProviderOfPolicyLib2EditPart">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.diagram.main.edit.parts.PolicyLib2EditPart" id="PolicyLib_3004"/>
         <context elements="PolicyLib_3004"/>
      </modelingAssistantProvider>
      
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.opendds.modeling.diagram.main.providers.OpenDDSShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2007,2008,2009,2010"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.main.OpenDDSModel_1000"
               name="%metatype.name.OpenDDSModel_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OpenDDSModel"
               edithelper="org.opendds.modeling.diagram.main.edit.helpers.OpenDDSModelEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.main.DcpsLib_2007"
               name="%metatype.name.DcpsLib_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DcpsLib"
               edithelper="org.opendds.modeling.diagram.main.edit.helpers.DcpsLibEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.main.PolicyLib_2008"
               name="%metatype.name.PolicyLib_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PolicyLib"
               edithelper="org.opendds.modeling.diagram.main.edit.helpers.PolicyLibEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.main.DataLib_2009"
               name="%metatype.name.DataLib_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataLib"
               edithelper="org.opendds.modeling.diagram.main.edit.helpers.DataLibEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.main.LibPackage_2010"
               name="%metatype.name.LibPackage_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LibPackage"
               edithelper="org.opendds.modeling.diagram.main.edit.helpers.LibPackageEditHelper">
            <param name="semanticHint" value="2010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.main.LibPackage_3001"
               name="%metatype.name.LibPackage_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.opendds.modeling.diagram.main.LibPackage_2010"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.main.DataLib_3002"
               name="%metatype.name.DataLib_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.opendds.modeling.diagram.main.DataLib_2009"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.main.DcpsLib_3003"
               name="%metatype.name.DcpsLib_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.opendds.modeling.diagram.main.DcpsLib_2007"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/OpenDDS/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.main.PolicyLib_3004"
               name="%metatype.name.PolicyLib_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.opendds.modeling.diagram.main.PolicyLib_2008"/>
            <param name="semanticHint" value="3004"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.opendds.modeling.diagram.main.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.opendds.modeling.diagram.main.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.opendds.modeling.diagram.main.TypeContext">
         <elementType ref="org.opendds.modeling.diagram.main.OpenDDSModel_1000"/>
         <elementType ref="org.opendds.modeling.diagram.main.DcpsLib_2007"/>
         <elementType ref="org.opendds.modeling.diagram.main.PolicyLib_2008"/>
         <elementType ref="org.opendds.modeling.diagram.main.DataLib_2009"/>
         <elementType ref="org.opendds.modeling.diagram.main.LibPackage_2010"/>
         <elementType ref="org.opendds.modeling.diagram.main.LibPackage_3001"/>
         <elementType ref="org.opendds.modeling.diagram.main.DataLib_3002"/>
         <elementType ref="org.opendds.modeling.diagram.main.DcpsLib_3003"/>
         <elementType ref="org.opendds.modeling.diagram.main.PolicyLib_3004"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.opendds.modeling.diagram.main.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.opendds.modeling.diagram.main"
           properties="isURIEditorInput"
           class="org.opendds.modeling.diagram.main.part.OpenDDSUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.opendds.modeling.diagram.main.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.opendds.modeling.diagram.main"
           properties="isShortcut"
           class="org.opendds.modeling.diagram.main.part.OpenDDSShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.opendds.modeling.diagram.main.resourceContent"/>
			<contentExtension pattern="org.opendds.modeling.diagram.main.domainResourceContent"/>
            <contentExtension pattern="org.opendds.modeling.diagram.main.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.opendds.modeling.diagram.main.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.opendds.modeling.diagram.main.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.opendds.modeling.diagram.main.navigator.OpenDDSNavigatorContentProvider" 
            labelProvider="org.opendds.modeling.diagram.main.navigator.OpenDDSNavigatorLabelProvider"
            icon="icons/obj16/OpenDDSDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="opendds_diagram"/>
               </and>
               <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.opendds.modeling.diagram.main.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.opendds.modeling.diagram.main.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.opendds.modeling.diagram.main.navigatorSorter" 
               class="org.opendds.modeling.diagram.main.navigator.OpenDDSNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="opendds_diagram"/>
                  </and>
                  <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.opendds.modeling.diagram.main.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.opendds.modeling.diagram.main.navigator.OpenDDSDomainNavigatorContentProvider" 
            labelProvider="org.opendds.modeling.diagram.main.navigator.OpenDDSDomainNavigatorLabelProvider"
            icon="icons/obj16/OpenDDSDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="opendds"/>
               </and>
               <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.opendds.modeling.diagram.main.navigatorActionProvider"
            class="org.opendds.modeling.diagram.main.navigator.OpenDDSNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.opendds.modeling.diagram.main.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>

	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.opendds.modeling.diagram.main.navigatorLinkHelper"
            class="org.opendds.modeling.diagram.main.navigator.OpenDDSNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.opendds.modeling.diagram.main.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.opendds.modeling.diagram.main.navigator.OpenDDSAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <?gmfgen generated="true"?>
            <category id="org.opendds.modeling.model.validations" mandatory="false" name="MainDiagram Validations">
         <![CDATA[Detects incorrect or questionable semantic constructs for elements in a main diagram.]]>
      </category>
      <category id="org.opendds.modeling.model.validations/org.opendds.modeling.model.validation.errors" mandatory="false" name="OpenDDSModel Errors">
         <![CDATA[Detects modeling constructs that would result in invalid generated OpenDDS code.]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.opendds.org/modeling/schemas/OpenDDS/1.0"/>
               <constraints categories="org.opendds.modeling.model.validations">
                  </constraints>
         <constraints categories="org.opendds.modeling.model.validations/org.opendds.modeling.model.validation.errors">
                  <constraint id="org.opendds.modeling.model.validation.error.dcpslib_name_blank"
            lang="OCL"
            name="DcpsLib Name Empty"
            mode="Batch"
            severity="ERROR" statusCode="200">
            <![CDATA[not name.oclIsUndefined() and name <> '']]>
            <description><![CDATA[DcpsLib name should not be empty]]></description>
            <message><![CDATA[DcpsLib name is empty]]></message>
            <target class="opendds.DcpsLib"/>
         </constraint>
                  <constraint id="org.opendds.modeling.model.validation.error.package_name_blank"
            lang="OCL"
            name="Package Name Empty"
            mode="Batch"
            severity="ERROR" statusCode="200">
            <![CDATA[not name.oclIsUndefined() and name <> '']]>
            <description><![CDATA[Package name should not be empty]]></description>
            <message><![CDATA[Package name is empty]]></message>
            <target class="opendds.LibPackage"/>
         </constraint>
                  </constraints>
      </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintBindings">
      <?gmfgen generated="true"?>
      <clientContext default="false" id="org.opendds.modeling.diagram.mainDefaultCtx">
         <selector class="org.opendds.modeling.diagram.main.providers.OpenDDSValidationProvider$DefaultCtx"/>
      </clientContext>
      <binding context="org.opendds.modeling.diagram.mainDefaultCtx">
                  <constraint ref="org.opendds.modeling.diagram.main.org.opendds.modeling.model.validation.error.dcpslib_name_blank"/>
                  <constraint ref="org.opendds.modeling.diagram.main.org.opendds.modeling.model.validation.error.package_name_blank"/>
               </binding>

   </extension>


   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.opendds.modeling.diagram.main.part.OpenDDSDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.opendds.modeling.diagram.main.updateDiagram"
         name="%update.diagram.name"/>
   </extension>

   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.opendds.modeling.diagram.main.updateDiagram"
         contextId="org.opendds.modeling.diagram.main.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.opendds.modeling.diagram.main.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.opendds.modeling.diagram.main.edit.parts.OpenDDSModelEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.opendds.modeling.diagram.main.LoadResourceAction"
         name="Load Resource"
         categoryId="org.opendds.modeling.diagram.main.part.OpenDDSDiagramEditorID"
         defaultHandler="org.opendds.modeling.diagram.main.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
