/StockQuoterTypeSupportImpl.h
/StockQuoterTypeSupportImpl.cpp
/StockQuoterTypeSupport.idl
/publisher
/subscriber
/StockQuoterS.cpp
/StockQuoterS.inl
/StockQuoterTypeSupportS.h
/StockQuoterTypeSupportC.cpp
/StockQuoterTypeSupportC.inl
/StockQuoterC.h
/StockQuoterTypeSupportS.cpp
/StockQuoterTypeSupportS.inl
/StockQuoterS.h
/StockQuoterC.inl
/StockQuoterC.cpp
/StockQuoterTypeSupportC.h
