/NewDevice
/NewDeviceC.cpp
/NewDeviceC.h
/NewDeviceC.inl
/NewDeviceS.h
/NewDeviceTypeSupport.idl
/NewDeviceTypeSupportC.cpp
/NewDeviceTypeSupportC.h
/NewDeviceTypeSupportC.inl
/NewDeviceTypeSupportImpl.cpp
/NewDeviceTypeSupportImpl.h
/NewDeviceTypeSupportS.h
