/FooDefTypeSupportImpl.cpp
/FooDefTypeSupport.idl
/FooDefTypeSupportImpl.h
/BazDefTypeSupportImpl.h
/BazDefTypeSupportImpl.cpp
/BazDefTypeSupport.idl
/FooDefTypeSupportC.inl
/FooDefTypeSupportC.cpp
/FooDefC.inl
/FooDefC.cpp
/FooDefTypeSupportC.h
/FooDefC.h
/FooDefTypeSupportS.cpp
/FooDefTypeSupportS.inl
/FooDefS.inl
/FooDefS.cpp
/FooDefTypeSupportS.h
/FooDefS.h
/BazDefC.cpp
/BazDefC.inl
/BazDefTypeSupportC.h
/BazDefS.cpp
/BazDefS.inl
/BazDefTypeSupportS.h
/BazDefTypeSupportC.cpp
/BazDefTypeSupportC.inl
/BazDefC.h
/BazDefTypeSupportS.inl
/BazDefTypeSupportS.cpp
/BazDefS.h
