/BazDefC.cpp
/BazDefC.h
/BazDefC.inl
/BazDefS.h
/BazDefTypeSupport.idl
/BazDefTypeSupportC.cpp
/BazDefTypeSupportC.h
/BazDefTypeSupportC.inl
/BazDefTypeSupportImpl.cpp
/BazDefTypeSupportImpl.h
/BazDefTypeSupportS.h
/FooDefC.cpp
/FooDefC.h
/FooDefC.inl
/FooDefS.h
/FooDefTypeSupport.idl
/FooDefTypeSupportC.cpp
/FooDefTypeSupportC.h
/FooDefTypeSupportC.inl
/FooDefTypeSupportImpl.cpp
/FooDefTypeSupportImpl.h
/FooDefTypeSupportS.h
