/DataRepresentation
/DataRepresentationC.cpp
/DataRepresentationC.h
/DataRepresentationC.inl
/DataRepresentationS.cpp
/DataRepresentationS.h
/DataRepresentationTypeSupport.idl
/DataRepresentationTypeSupportC.cpp
/DataRepresentationTypeSupportC.h
/DataRepresentationTypeSupportC.inl
/DataRepresentationTypeSupportImpl.cpp
/DataRepresentationTypeSupportImpl.h
/DataRepresentationTypeSupportS.cpp
/DataRepresentationTypeSupportS.h
