<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
(c) Copyright Object Computing, Incorporated.  2005,2010.  All rights reserved.
-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="opendds_diagram_datalib"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="opendds_diagram_datalib"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/TypesDiagramFile.gif"
         extensions="opendds_diagram_datalib"
         default="true"
         class="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditor"
         matchingStrategy="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibMatchingStrategy"
         contributorClass="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.opendds.modeling.model.opendds.diagram.datalib.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/TypesDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibCreationWizard"
  	     id="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.opendds.modeling.diagram.datalib.InitDiagram"
            nameFilter="*.opendds"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.opendds.modeling.diagram.datalib.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OpenDDS DataLibPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OpenDDS DataLibPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OpenDDS DataLibRender">
         <Priority name="Lowest"/>
         <ViewId id="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.opendds.modeling.model.opendds.diagram.datalib.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.opendds.modeling.diagram.general"
            name="%prefpage.org.opendds.modeling.diagram.general"
            class="org.opendds.modeling.model.opendds.diagram.datalib.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.appearance"
            name="%prefpage.org.opendds.modeling.diagram.appearance"
            category="org.opendds.modeling.diagram.general"
            class="org.opendds.modeling.model.opendds.diagram.datalib.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.connections"
            name="%prefpage.org.opendds.modeling.diagram.connections"
            category="org.opendds.modeling.diagram.general"
            class="org.opendds.modeling.model.opendds.diagram.datalib.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.printing"
            name="%prefpage.org.opendds.modeling.diagram.printing"
            category="org.opendds.modeling.diagram.general"
            class="org.opendds.modeling.model.opendds.diagram.datalib.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.opendds.modeling.diagram.rulersAndGrid"
            name="%prefpage.org.opendds.modeling.diagram.rulersAndGrid"
            category="org.opendds.modeling.diagram.general"
            class="org.opendds.modeling.model.opendds.diagram.datalib.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.opendds.modeling.diagram.datalib"
            labelProvider="org.opendds.modeling.model.opendds.diagram.datalib.sheet.OpenDDSDataLibSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.opendds.modeling.diagram.datalib">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.opendds.modeling.diagram.datalib">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.opendds.modeling.model.opendds.diagram.datalib.sheet.OpenDDSDataLibPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.OpenDDSDataLibViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="OpenDDS DataLib"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2023,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2039,2043,2044,2065,2066,3001,3002,3003,3004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4002,4003,4004,4005,4007,4009"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.OpenDDSDataLibEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="OpenDDS DataLib"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2023,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2039,2043,2044,2065,2066,3001,3002,3003,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4002,4003,4004,4005,4007,4009"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5023,5063,5064,5065,5066,5067,5068,5069,5070,5071,5072,5073,5074,5075,5076,5077,5078,5079,5080,5081,5082,5083,5084,5043,5044,5050,5051,5052,5085,5086,5087,5088,5089"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7005,7006,7007"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.OpenDDSDataLibModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.DataLibEditPart" id="DataLib_1000"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.LongEditPart" id="Long_2023"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.LongLongEditPart" id="LongLong_2049"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.ShortEditPart" id="Short_2050"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.ULongEditPart" id="ULong_2051"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.ULongLongEditPart" id="ULongLong_2052"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.UShortEditPart" id="UShort_2053"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.DoubleEditPart" id="Double_2054"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.FloatEditPart" id="Float_2055"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.CharEditPart" id="Char_2056"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.WCharEditPart" id="WChar_2057"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.OctetEditPart" id="Octet_2058"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.BooleanEditPart" id="Boolean_2059"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.ArrayEditPart" id="Array_2060"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.EnumEditPart" id="Enum_2061"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.SequenceEditPart" id="Sequence_2062"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.StringEditPart" id="String_2063"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.WStringEditPart" id="WString_2064"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.TypedefEditPart" id="Typedef_2039"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.CaseEditPart" id="Case_2043"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.BranchEditPart" id="Branch_2044"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.UnionEditPart" id="Union_2065"/>
         <object class="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.StructEditPart" id="Struct_2066"/>
         <context elements="DataLib_1000,Long_2023,LongLong_2049,Short_2050,ULong_2051,ULongLong_2052,UShort_2053,Double_2054,Float_2055,Char_2056,WChar_2057,Octet_2058,Boolean_2059,Array_2060,Enum_2061,Sequence_2062,String_2063,WString_2064,Typedef_2039,Case_2043,Branch_2044,Union_2065,Struct_2066"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.OpenDDSDataLibIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.OpenDDSDataLibParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.DataLib_1000"
               name="%metatype.name.DataLib_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataLib"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.DataLibEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Long_2023"
               name="%metatype.name.Long_2023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Long"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.LongEditHelper">
            <param name="semanticHint" value="2023"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.LongLong_2049"
               name="%metatype.name.LongLong_2049"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LongLong"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.LongLongEditHelper">
            <param name="semanticHint" value="2049"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Short_2050"
               name="%metatype.name.Short_2050"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Short"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.ShortEditHelper">
            <param name="semanticHint" value="2050"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.ULong_2051"
               name="%metatype.name.ULong_2051"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ULong"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.ULongEditHelper">
            <param name="semanticHint" value="2051"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.ULongLong_2052"
               name="%metatype.name.ULongLong_2052"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ULongLong"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.ULongLongEditHelper">
            <param name="semanticHint" value="2052"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.UShort_2053"
               name="%metatype.name.UShort_2053"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UShort"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.UShortEditHelper">
            <param name="semanticHint" value="2053"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Double_2054"
               name="%metatype.name.Double_2054"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Double"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.DoubleEditHelper">
            <param name="semanticHint" value="2054"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Float_2055"
               name="%metatype.name.Float_2055"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Float"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.FloatEditHelper">
            <param name="semanticHint" value="2055"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Char_2056"
               name="%metatype.name.Char_2056"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Char"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.CharEditHelper">
            <param name="semanticHint" value="2056"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.WChar_2057"
               name="%metatype.name.WChar_2057"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WChar"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.WCharEditHelper">
            <param name="semanticHint" value="2057"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Octet_2058"
               name="%metatype.name.Octet_2058"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Octet"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.OctetEditHelper">
            <param name="semanticHint" value="2058"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Boolean_2059"
               name="%metatype.name.Boolean_2059"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Boolean"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.BooleanEditHelper">
            <param name="semanticHint" value="2059"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Array_2060"
               name="%metatype.name.Array_2060"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Array"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.ArrayEditHelper">
            <param name="semanticHint" value="2060"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Enum_2061"
               name="%metatype.name.Enum_2061"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Enum"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.EnumEditHelper">
            <param name="semanticHint" value="2061"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Sequence_2062"
               name="%metatype.name.Sequence_2062"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Sequence"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.SequenceEditHelper">
            <param name="semanticHint" value="2062"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.String_2063"
               name="%metatype.name.String_2063"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="String"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.StringEditHelper">
            <param name="semanticHint" value="2063"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.WString_2064"
               name="%metatype.name.WString_2064"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WString"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.WStringEditHelper">
            <param name="semanticHint" value="2064"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Typedef_2039"
               name="%metatype.name.Typedef_2039"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Typedef"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.TypedefEditHelper">
            <param name="semanticHint" value="2039"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Case_2043"
               name="%metatype.name.Case_2043"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Case"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.CaseEditHelper">
            <param name="semanticHint" value="2043"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Branch_2044"
               name="%metatype.name.Branch_2044"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Branch"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.BranchEditHelper">
            <param name="semanticHint" value="2044"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Union_2065"
               name="%metatype.name.Union_2065"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Union"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.UnionEditHelper">
            <param name="semanticHint" value="2065"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Struct_2066"
               name="%metatype.name.Struct_2066"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Struct"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.StructEditHelper">
            <param name="semanticHint" value="2066"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Field_3001"
               name="%metatype.name.Field_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Field"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.FieldEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.Field_3002"
               name="%metatype.name.Field_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.opendds.modeling.diagram.datalib.Field_3001"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.Field_3003"
               name="%metatype.name.Field_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.opendds.modeling.diagram.datalib.Field_3001"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <metamodelType
               id="org.opendds.modeling.diagram.datalib.Key_3004"
               name="%metatype.name.Key_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Key"
               edithelper="org.opendds.modeling.model.opendds.diagram.datalib.edit.helpers.KeyEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.ArraySubtype_4002"
               name="%metatype.name.ArraySubtype_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.SequenceSubtype_4003"
               name="%metatype.name.SequenceSubtype_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4003"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.TypedefType_4004"
               name="%metatype.name.TypedefType_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.BranchCases_4005"
               name="%metatype.name.BranchCases_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.UnionBranches_4007"
               name="%metatype.name.UnionBranches_4007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.opendds.org/modeling/schemas/Types/1.0">
         <specializationType
               id="org.opendds.modeling.diagram.datalib.UnionSwitch_4009"
               name="%metatype.name.UnionSwitch_4009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4009"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.opendds.modeling.diagram.datalib.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.opendds.modeling.diagram.datalib.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.opendds.modeling.diagram.datalib.TypeContext">
         <elementType ref="org.opendds.modeling.diagram.datalib.DataLib_1000"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Long_2023"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.LongLong_2049"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Short_2050"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.ULong_2051"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.ULongLong_2052"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.UShort_2053"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Double_2054"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Float_2055"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Char_2056"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.WChar_2057"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Octet_2058"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Boolean_2059"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Array_2060"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Enum_2061"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Sequence_2062"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.String_2063"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.WString_2064"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Typedef_2039"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Case_2043"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Branch_2044"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Union_2065"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Struct_2066"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Field_3001"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Field_3002"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Field_3003"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.Key_3004"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.ArraySubtype_4002"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.SequenceSubtype_4003"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.TypedefType_4004"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.BranchCases_4005"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.UnionBranches_4007"/>
         <elementType ref="org.opendds.modeling.diagram.datalib.UnionSwitch_4009"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.opendds.modeling.diagram.datalib.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.opendds.modeling.diagram.datalib"
           properties="isURIEditorInput"
           class="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.opendds.modeling.diagram.datalib.resourceContent"/>
			<contentExtension pattern="org.opendds.modeling.diagram.datalib.domainResourceContent"/>
            <contentExtension pattern="org.opendds.modeling.diagram.datalib.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.opendds.modeling.diagram.datalib.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.opendds.modeling.diagram.datalib.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibNavigatorContentProvider" 
            labelProvider="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibNavigatorLabelProvider"
            icon="icons/obj16/TypesDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="opendds_diagram_datalib"/>
               </and>
               <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.opendds.modeling.diagram.datalib.navigatorSorter" 
               class="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="opendds_diagram_datalib"/>
                  </and>
                  <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.opendds.modeling.diagram.datalib.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibDomainNavigatorContentProvider" 
            labelProvider="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibDomainNavigatorLabelProvider"
            icon="icons/obj16/TypesDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="opendds"/>
               </and>
               <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.opendds.modeling.diagram.datalib.navigatorActionProvider"
            class="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.opendds.modeling.diagram.datalib.navigatorLinkHelper"
            class="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.opendds.modeling.diagram.datalib.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.navigator.OpenDDSDataLibAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.opendds.modeling.model.opendds.diagram.datalib.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.opendds.modeling.model.opendds.diagram.datalib.updateDiagram"
         contextId="org.opendds.modeling.model.opendds.diagram.datalib.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.opendds.modeling.diagram.datalib.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.opendds.modeling.model.opendds.diagram.datalib.edit.parts.DataLibEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.opendds.modeling.diagram.datalib.LoadResourceAction"
         name="Load Resource"
         categoryId="org.opendds.modeling.model.opendds.diagram.datalib.part.OpenDDSDataLibDiagramEditorID"
         defaultHandler="org.opendds.modeling.model.opendds.diagram.datalib.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- Manual edits begin -->

	<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
     <?gmfgen generated="false"?>
	  	<ParserProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.FieldParserProvider">
	     	<Priority name="Low"/>
	  	</ParserProvider>
	</extension>

	<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
     <?gmfgen generated="false"?>
	  	<ParserProvider class="org.opendds.modeling.model.opendds.diagram.datalib.providers.StructKeyParserProvider">
	     	<Priority name="Low"/>
	  	</ParserProvider>
	</extension>






   <!-- Manual edits end -->

   <!-- optionally, specify keybindings -->
</plugin>
