/stack_subscriber
/MessengerTypeSupportImpl.cpp
/MessengerTypeSupport.idl
/publisher
/MessengerTypeSupportImpl.h
/subscriber
/MessengerTypeSupportC.h
/MessengerC.h
/MessengerTypeSupportS.h
/MessengerS.h
/MessengerTypeSupportC.inl
/MessengerC.cpp
/MessengerTypeSupportS.inl
/MessengerS.cpp
/MessengerTypeSupportC.cpp
/MessengerC.inl
/MessengerTypeSupportS.cpp
/MessengerS.inl
