<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->

<plugin>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="false"?>
      <!-- Remove wizard so user cannot create model without going
      through the main diagram -->
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="OpenDDS.presentation.OpenDDSEditorID"
            name="%_UI_OpenDDSEditor_label"
            icon="../org.opendds.modeling.common/icons/full/obj16/OpenDDSModelFile.gif"
            extensions="opendds"
            class="org.opendds.modeling.model.opendds.presentation.OpenDDSEditor"
            contributorClass="org.opendds.modeling.model.opendds.presentation.OpenDDSActionBarContributor">
      </editor>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <editor
            id="Core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="org.opendds.modeling.model.core.presentation.CoreEditor"
            contributorClass="org.opendds.modeling.model.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="org.opendds.modeling.model.domain.presentation.DomainEditor"
            contributorClass="org.opendds.modeling.model.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="QoS.presentation.QoSEditorID"
            name="%_UI_QoSEditor_label"
            icon="icons/full/obj16/QoSModelFile.gif"
            extensions="qos"
            class="org.opendds.modeling.model.qos.presentation.QoSEditor"
            contributorClass="org.opendds.modeling.model.qos.presentation.QoSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Topics.presentation.TopicsEditorID"
            name="%_UI_TopicsEditor_label"
            icon="icons/full/obj16/TopicsModelFile.gif"
            extensions="topics"
            class="org.opendds.modeling.model.topics.presentation.TopicsEditor"
            contributorClass="org.opendds.modeling.model.topics.presentation.TopicsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="DCPS.presentation.DCPSEditorID"
            name="%_UI_DCPSEditor_label"
            icon="icons/full/obj16/DCPSModelFile.gif"
            extensions="dcps"
            class="org.opendds.modeling.model.dcps.presentation.DCPSEditor"
            contributorClass="org.opendds.modeling.model.dcps.presentation.DCPSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="org.opendds.modeling.model.types.presentation.TypesEditor"
            contributorClass="org.opendds.modeling.model.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Application.presentation.ApplicationEditorID"
            name="%_UI_ApplicationEditor_label"
            icon="icons/full/obj16/ApplicationModelFile.gif"
            extensions="application"
            class="org.opendds.modeling.model.application.presentation.ApplicationEditor"
            contributorClass="org.opendds.modeling.model.application.presentation.ApplicationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Enumerations.presentation.EnumerationsEditorID"
            name="%_UI_EnumerationsEditor_label"
            icon="icons/full/obj16/EnumerationsModelFile.gif"
            extensions="enumerations"
            class="org.opendds.modeling.model.enumerations.presentation.EnumerationsEditor"
            contributorClass="org.opendds.modeling.model.enumerations.presentation.EnumerationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.opendds.presentation.OpenDDSEditorID"
            name="%_UI_OpenDDSEditor_label"
            icon="icons/full/obj16/OpenDDSModelFile.gif"
            extensions="opendds"
            class="org.opendds.modeling.model.opendds.presentation.OpenDDSEditor"
            contributorClass="org.opendds.modeling.model.opendds.presentation.OpenDDSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="org.opendds.modeling.model.core.presentation.CoreEditor"
            contributorClass="org.opendds.modeling.model.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="org.opendds.modeling.model.domain.presentation.DomainEditor"
            contributorClass="org.opendds.modeling.model.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.qos.presentation.QoSEditorID"
            name="%_UI_QoSEditor_label"
            icon="icons/full/obj16/QoSModelFile.gif"
            extensions="qos"
            class="org.opendds.modeling.model.qos.presentation.QoSEditor"
            contributorClass="org.opendds.modeling.model.qos.presentation.QoSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.topics.presentation.TopicsEditorID"
            name="%_UI_TopicsEditor_label"
            icon="icons/full/obj16/TopicsModelFile.gif"
            extensions="topics"
            class="org.opendds.modeling.model.topics.presentation.TopicsEditor"
            contributorClass="org.opendds.modeling.model.topics.presentation.TopicsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.dcps.presentation.DCPSEditorID"
            name="%_UI_DCPSEditor_label"
            icon="icons/full/obj16/DCPSModelFile.gif"
            extensions="dcps"
            class="org.opendds.modeling.model.dcps.presentation.DCPSEditor"
            contributorClass="org.opendds.modeling.model.dcps.presentation.DCPSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.application.presentation.ApplicationEditorID"
            name="%_UI_ApplicationEditor_label"
            icon="icons/full/obj16/ApplicationModelFile.gif"
            extensions="application"
            class="org.opendds.modeling.model.application.presentation.ApplicationEditor"
            contributorClass="org.opendds.modeling.model.application.presentation.ApplicationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.enumerations.presentation.EnumerationsEditorID"
            name="%_UI_EnumerationsEditor_label"
            icon="icons/full/obj16/EnumerationsModelFile.gif"
            extensions="enumerations"
            class="org.opendds.modeling.model.enumerations.presentation.EnumerationsEditor"
            contributorClass="org.opendds.modeling.model.enumerations.presentation.EnumerationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OpenDDS -->
      <editor
            id="org.opendds.modeling.model.types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="org.opendds.modeling.model.types.presentation.TypesEditor"
            contributorClass="org.opendds.modeling.model.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>
</plugin>
