---
layout: page
title: Shapes Demo
categories: [opendds]
tags: []
order: 13
---
The goal of this guide is to walk through downloading and running the DDS Interoperability Shapes demo program. The demo is a graphical application that will help you visualize some of the DDS concepts that OpenDDS supports without needing to read or write source code. The application allows you to create publishers and subscribers on topics represented by data payloads shown as simple shapes and see the results of the different quality of service, data partitioning, and filtering options provided. The Shapes demo makes use of the Real-Time Publish-Subscribe Wire Protocol Specification (DDSI-RTPS) that provides interoperable communications between various DDS implementations.

<div class="bodytext" align="justify">
  <a name="Environment Prerequisites"><span class="headertext">Environment Prerequisites</span></a>
  <ol>
    <li><p>Ensure that your environment has:</p>
      <ul>
        <li>Qt 4</li>
          <ul>
            <li>Windows: Download and install <b>qt-opensource-windows-x86-vs2010-4.8.6.exe</b> from the <a href="https://download.qt.io/archive/qt/4.8/4.8.6/">archived Qt downloads site</a>.  Make sure that the directory containing <code>QtCore4.dll</code> and <code>QtGui4.dll</code> (by default, <code>C:\Qt\4.8.6\bin</code>) is included in the <code>PATH</code> environment variable.  Alternatively, those libraries may be copied into the directory where <code>ishapes.exe</code> is downloaded.</li>
            <li>Ubunutu 16.04 LTS 64bit: Install by running <code>sudo apt install libqtgui4</code></li>
          </ul>
      </ul>
    </li>
    <li>Download or compile the latest Shapes demo for your operating system:</li>
      <ul>
        <li><a href="http://download.objectcomputing.com/OpenDDS/ShapesDemo/">Shapes Demo downloads</a>
          <ul>
            <li>Windows: <a href="http://download.objectcomputing.com/OpenDDS/ShapesDemo/ShapesDemo-OpenDDS-3.10-Windows.zip">ShapesDemo-OpenDDS-3.10-Windows.zip</a></li>
            <li>Linux (64-bit): <a href="http://download.objectcomputing.com/OpenDDS/ShapesDemo/ShapesDemo-OpenDDS-3.10-x64Linux.tar.gz">ShapesDemo-OpenDDS-3.10-x64Linux.tar.gz</a></li>
          </ul>
        </li>
      </ul>
    <ul><li>Alternatively, the Shapes demo can be run from a build from source of OpenDDS with Qt and Boost enabled. Boost is not required if building with a compiler that supports C++11. The demo resides in the <code>examples/DCPS/ishapes</code> directory. See <a href="../documents/building.html">Building</a> for a complete list of dependencies and supported platforms.</li></ul>
  </ol>
</div>

<div class="bodytext" align="justify">
  <a name="Running the Shapes Demo"><span class="headertext">Running the Shapes Demo</span></a>
  <ol>
    <li>
      <p>Locate and run the Shapes demo and you should see a window that looks like this:</p>
      <img src="{{site.baseurl}}/images/shapes-demo/default.png"/>
    </li>
    <li>
      <p>The most basic example is to simply click the <code>Publish</code> button to begin publishing a circle and then click <code>Subscribe</code> to begin subscribing to the same circle topic you are publishing. As soon as you begin publishing, you should see a green circle bouncing around the display area with a white center. This indicates that this is a published object, originating at this application.</p>
      <img src="{{site.baseurl}}/images/shapes-demo/pub-circle-unmatched.png"/>
    </li>
    <li>
      <p> After clicking <code>Subscribe</code>, as soon as the subscriber goes live and finds a match in the published circle topic, the center of the circle will go dark to indicate it is an instance of subscribed data, which in this case is being rendered over top the initial published instance.</p>
      <img src="{{site.baseurl}}/images/shapes-demo/pub-circle-matched.png"/>
    </li>
    <li>
      <p>Now that we have confirmed the ability to run an instance of the Shapes demo, let's understand some of the DDS concepts seen at work even in this simple example.</p>
      <ul>
        <li>Each of the available shapes in the drop-down menu are DDS Topics that can be published on or subscribed to.</li>
        <li>Each instance on the topic has an instance key represented by the shape's color and the shape itself is a DDS Data type comprised of x and y coordinates as well as a size.</li>
      </ul>
      <p>What may not be apparent in this simple example is that the center of the circle going from white to dark is actually demonstrating the process of discovery, entity matching, publication, and subscription between two DDS entities. The additional example scenarios below make use of multiple shapes demo instances running concurrently to help demonstrate the capabilities better.</p>
    </li>
  </ol>
</div>

<div class="bodytext" align="justify">
  <a name="Example_Scenarios"><span class="headertext">Example Scenarios</span></a>
  <p>The pages linked below contain example scenarios that demonstrate different features of OpenDDS:</p>
  <ul>
{% assign sorted_pages = site.pages | sort:"order" %}
{% assign thisdir = page.url | split: '/' %}
{% assign dir = thisdir[1] | append: '/shapes' %}
{% for p in sorted_pages %}
  {% assign splt = p.url | split: dir %}
  {% if splt.size == 2 and splt[1] != '/' %}
<li><a class="page-link" href="{{p.url | prepend: site.baseurl}}">{{p.title}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</div>
<div class="bodytext" align="justify">
  <a name="Conclusion"><span class="headertext">Conclusion</span></a>
  <p>The examples worked through above have demonstrated some of the many Data Distribution Service features provided by OpenDDS. OpenDDS provides a portable and interoperable publish/subscribe infrastructure. You have learned a little about many DDS concepts including:</p>
  <ul>
    <li>Discovery</li>
    <li>Topics and Data Types</li>
    <li>Publish/Subscribe semantics</li>
    <li>One to Many and Many to One communications</li>
    <li>Different Quality of Service (QoS)
      <ul>
        <li>Reliability</li>
        <li>Durability</li>
        <li>Ownership</li>
        <li>Data Partitioning</li>
        <li>Time Based Filter</li>
      </ul></li>
    <li>Content Filtered Topics</li>
  </ul>
  <p>Hopefully this has helped provide an understanding of what using OpenDDS to provide a publish/subscribe infrastructure can look like and the different features that can be included in a product using OpenDDS as its communications infrastructure.</p>
</div>

<div class="bodytext" align="justify">
  <a name="Next Steps"><span class="headertext">Next Steps</span></a>
  <p>Now that you've acquired a conceptual baseline, here are some recommended next steps to continue learning about OpenDDS:</p>
  <ul>
    <li>Work through downloading and building OpenDDS and running a simple example through the <a href="{{ site.baseurl }}/quickstart">Quick Start Guides</a> </li>
    <li>Find more support information about dependencies and detailed build instructions <a href="../documents/building.html">here</a>.</li>
    <li>Learn more about OpenDDS features and how to set up your own DDS infrastructure through the <a href="http://download.objectcomputing.com/OpenDDS/OpenDDS-latest.pdf">Developer's Guide</a>.</li>
    <li>Need help? Curious about training? See <a href="{{ site.baseurl }}/support.html">Support</a>.</li>
    <li>Visit the OpenDDS project on <a href="http://github.com/objectcomputing/OpenDDS">GitHub</a></li>
  </ul>
</div>
