<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.opendds.org/modeling/schemas/OpenDDS/1.0"
            class="InstanceTraits.InstanceTraitsPackage"
            genModel="model/InstanceTraits.genmodel"/>
   </extension>

</plugin>
