<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    $Id$
-->
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://OPENDDS_LIBRARIES/"
            target="platform:/plugin/org.opendds.modeling.resources/libraries/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://OPENDDS_PROFILES/"
            target="platform:/plugin/org.opendds.modeling.resources/profiles/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="platform:/plugin/org.opendds.modeling.resources/profiles/OpenDDS.profile.uml#_0"
            uri="http://www.opendds.org/schemas/modeling/OpenDDS">
      </resource>
   </extension>
</plugin>
