/CORBA
/*.vcproj
/*.user
/*.ilk
/classes
/ULongLongSeqJC.h
/FloatSeqJC.h
/CharSeqJC.cpp
/BooleanSeqJC.cpp
/DoubleSeqJC.h
/OctetSeqJC.h
/ULongSeqJC.cpp
/LongLongSeqJC.h
/UShortSeqJC.h
/ShortSeqJC.cpp
/LongSeqJC.cpp
/ULongLongSeqJC.cpp
/FloatSeqJC.cpp
/DoubleSeqJC.cpp
/StringSeqJC.h
/OctetSeqJC.cpp
/LongLongSeqJC.cpp
/CharSeqJC.h
/BooleanSeqJC.h
/UShortSeqJC.cpp
/ULongSeqJC.h
/ShortSeqJC.h
/LongSeqJC.h
/StringSeqJC.cpp
