/MessengerC.h
/MessengerTypeSupport.idl
/MessengerTypeSupportC.cpp
/MessengerTypeSupportC.h
/MessengerTypeSupportC.inl
/MessengerTypeSupportImpl.cpp
/MessengerTypeSupportImpl.h
/MessengerTypeSupportS.h
