Pygments>=2.9 # For OMG IDL Support
Sphinx>=7.2
doc2dash
furo
sphinx-copybutton
sphinx-markdown-builder @ git+https://github.com/liran-funaro/sphinx-markdown-builder
sphinx-inline-tabs
PyMuPDF
sphinxcontrib-svgbob
