/TestFrameworkTypeSupportImpl.cpp
/TestFrameworkTypeSupport.idl
/TestFrameworkTypeSupportImpl.h
/TestFrameworkTypeSupportC.cpp
/TestFrameworkTypeSupportC.inl
/TestFrameworkC.inl
/TestFrameworkC.cpp
/TestFrameworkTypeSupportC.h
/TestFrameworkC.h
/TestFrameworkTypeSupportS.cpp
/TestFrameworkTypeSupportS.inl
/TestFrameworkS.inl
/TestFrameworkS.cpp
/TestFrameworkTypeSupportS.h
/TestFrameworkS.h
