version: '2'
services:
  inforepo:
    image: ghcr.io/opendds/opendds:latest-release
    command: DCPSInfoRepo -ORBListenEndpoints iiop://:3897
    volumes:
      - $PWD:/opt/workspace
  subscriber:
    image: ghcr.io/opendds/opendds:latest-release
    command: ["./wait-for-it.sh", "inforepo:3897", "--", "./subscriber", "-DCPSInfoRepo",  "inforepo:3897" ]
    volumes:
      - $PWD:/opt/workspace
  publisher:
    image: ghcr.io/opendds/opendds:latest-release
    command: ["./wait-for-it.sh", "inforepo:3897", "--", "./publisher", "-DCPSInfoRepo",  "inforepo:3897" ]
    volumes:
      - $PWD:/opt/workspace
