/XTypes
/XTypesC.cpp
/XTypesC.h
/XTypesC.inl
/XTypesS.cpp
/XTypesS.h
/XTypesTypeSupport.idl
/XTypesTypeSupportC.cpp
/XTypesTypeSupportC.h
/XTypesTypeSupportC.inl
/XTypesTypeSupportImpl.cpp
/XTypesTypeSupportImpl.h
/XTypesTypeSupportS.cpp
/XTypesTypeSupportS.h
