name: "omg-dds/dds-rtps"

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  Linux:
    runs-on: ubuntu-18.04
    steps:
    - name: checkout OpenDDS
      uses: actions/checkout@v3
      with:
        path: OpenDDS
        submodules: true
    - name: checkout dds-rtps
      uses: actions/checkout@v3
      with:
        repository: omg-dds/dds-rtps
        path: dds-rtps
    - name: checkout ACE_TAO
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/ACE_TAO
        ref: Latest_Micro
        path: OpenDDS/ACE_TAO
    - name: get ACE_TAO commit
      shell: bash
      run: |
        cd OpenDDS/ACE_TAO
        export ACE_COMMIT=$(git rev-parse HEAD)
        echo "ACE_COMMIT=$ACE_COMMIT" >> $GITHUB_ENV
    - name: get compiler version
      shell: bash
      run: |
        export COMPILER_VERSION=$(g++ --version 2>&1 | head -n 1)
        echo "COMPILER_VERSION=$COMPILER_VERSION" >> $GITHUB_ENV
    - name: checkout MPC
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/MPC
        path: OpenDDS/ACE_TAO/ACE/MPC
    - name: configure OpenDDS
      run: |
        cd OpenDDS
        ./configure --optimize --no-debug --static --no-inline
        tools/scripts/show_build_config.pl
    - uses: ammaraskar/gcc-problem-matcher@0.1
    - name: build OpenDDS
      shell: bash
      run: |
        cd OpenDDS
        make -j4 OpenDDS_Rtps_Udp
    - name: build shape_main
      shell: bash
      run: |
        cd dds-rtps/srcCxx
        . ../../OpenDDS/setenv.sh
        mwc.pl -type gnuace
        make -sj4
    - name: upload shape_main artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.job }}_artifact
        path: dds-rtps/srcCxx/shape_main
