name: "Shapes Demo"

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  Linux:
    runs-on: ubuntu-18.04
    steps:
    - name: update apt
      run: sudo apt-get update
    - name: install qt
      run: sudo apt-get -y install qtbase5-dev
    - name: checkout OpenDDS
      uses: actions/checkout@v3
      with:
        path: OpenDDS
        submodules: true
    - name: checkout ACE_TAO
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/ACE_TAO
        ref: Latest_Micro
        path: OpenDDS/ACE_TAO
    - name: get ACE_TAO commit
      shell: bash
      run: |
        cd OpenDDS/ACE_TAO
        export ACE_COMMIT=$(git rev-parse HEAD)
        echo "ACE_COMMIT=$ACE_COMMIT" >> $GITHUB_ENV
    - name: get compiler version
      shell: bash
      run: |
        export COMPILER_VERSION=$(c++ --version 2>&1 | head -n 1)
        echo "COMPILER_VERSION=$COMPILER_VERSION" >> $GITHUB_ENV
    - name: checkout MPC
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/MPC
        path: OpenDDS/ACE_TAO/ACE/MPC
    - name: configure OpenDDS
      run: |
        cd OpenDDS
        ./configure --optimize --no-debug --static --tests --qt
        tools/scripts/show_build_config.pl
    - uses: ammaraskar/gcc-problem-matcher@0.1
    - name: build
      shell: bash
      run: |
        cd OpenDDS
        make -j4 ishapes
    - name: upload ishapes artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.job }}_artifact
        path: OpenDDS/examples/DCPS/ishapes/ishapes

  Windows:
    runs-on: windows-2019
    steps:
    - name: checkout OpenDDS
      uses: actions/checkout@v3
      with:
        path: OpenDDS
        submodules: true
    - name: checkout ACE_TAO
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/ACE_TAO
        ref: Latest_Micro
        path: OpenDDS/ACE_TAO
    - name: get ACE_TAO commit
      shell: bash
      run: |
        cd OpenDDS/ACE_TAO
        export ACE_COMMIT=$(git rev-parse HEAD)
        echo "ACE_COMMIT=$ACE_COMMIT" >> $GITHUB_ENV
    - name: get compiler version
      shell: bash
      run: |
        export COMPILER_VERSION=$("C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe" -property catalog_productDisplayVersion)
        echo "COMPILER_VERSION=$COMPILER_VERSION" >> $GITHUB_ENV
    - name: install vcpkg packages
      id: runvcpkg
      uses: lukka/run-vcpkg@v10
      with:
        vcpkgDirectory: '${{ github.workspace }}/vcpkg-qt'
        vcpkgGitCommitId: b86c0c35b88e2bf3557ff49dc831689c2f085090
        vcpkgArguments: --recurse qt5-base
        vcpkgTriplet: x64-windows
    - name: checkout MPC
      uses: actions/checkout@v3
      with:
        repository: DOCGroup/MPC
        path: OpenDDS/ACE_TAO/ACE/MPC
    - name: set up msvc env
      uses: ilammy/msvc-dev-cmd@v1
    - name: configure OpenDDS
      shell: cmd
      run: |
        cd OpenDDS
        perl configure --optimize --no-debug --static --tests --qt=%VCPKG_ROOT%/installed/x64-windows "--mpcopts=-value_template platforms=x64" "--mpcopts=-value_template configurations=Release" "--mpcopts=-value_template Release::runtime_library=MultiThreadedDLL"
        tools\scripts\show_build_config.pl
    - name: build
      shell: cmd
      run: |
        cd OpenDDS
        call setenv.cmd
        msbuild -p:Configuration=Release,Platform=x64 -m -t:ishapes DDS_TAOv2_all.sln
    - name: upload ishapes artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.job }}_artifact
        path: OpenDDS/examples/DCPS/ishapes/Static_Release/ishapes.exe
